body {
	width: 1440px;
	border: 2px solid green;
}
nav {
	background-color: lightcoral;
	overflow: hidden;

}
nav a{
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	letter-spacing: 5px;
}

nav a:hover {
	background-color: green;
}

nav a.active {
	background-color: black;
	color: white;
}
#intro {
	border: 2px solid black;
	width: 90%;
	margin: auto;
}

#works {
	border: 2px solid black;
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.back {
	border: 1px solid red;
	width: 80%;
	display: block;
	margin: auto;
}

button {
	width: 24.5%; height: 300px;
	margin: auto;
}

#first {
	background-image: url(images/20210306_174450.jpg);
}

#second {
	background-image: url(images/20210331_144637.jpg);
}

#third {
	background-image: url(images/Screenshot_20220222-032403.jpg);
}

.Media {
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 50px;
}